#The directory that consists of all the config files. Default is "./"
DEPLOY_SRC_DIR="./"
DEPLOY_DST_DIR="${HOME}/workspace/specrpcv2/app/micro/test"
DEPLOY_MICRO_APP_FILE="specrpc-micro-0.1-jar-with-dependencies.jar"
DEPLOY_MICRO_CONFIG_FILE="micro-config.conf"
DEPLOY_RPC_CONFIG_FILE="rpc.conf"
DEPLOY_RPC_SIG_FILE="rpc-signatures"
DEPLOY_LOG_CONFIG_FILE="log4j.properties"
DEPLOY_SERVER_LIST_FILE="server-list.conf"
DEPLOY_CLIENT_LIST_FILE="client-list.conf"
