#vim
*.swp

#eclipse
.project
.classpath
.settings/

#python
*.pyc

#SpecRPC
*.signature
*.properties
*.conf
*.log
*.json
target
target/**
bin
bin/**

app/micro/conf/benchmark-clients
app/micro/conf/benchmark-servers
app/micro/exp/exp-data
